<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613445250356-b718m4c7ghj2mv10647tu27ctbbdcihk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613445250356-b718m4c7ghj2mv10647tu27ctbbdcihk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>613445250356-73t3pkkqgghdo8ar6sl5trqd3tp5hi29.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMn7s7KYuS6bby3_2phgt58T4IsORAaLI</string>
	<key>GCM_SENDER_ID</key>
	<string>613445250356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.au.devolpment.lavona</string>
	<key>PROJECT_ID</key>
	<string>lavona-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>lavona-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613445250356:ios:dbb505cab43e3c74578961</string>
	<key>DATABASE_URL</key>
	<string>https://lavona-flutter.firebaseio.com</string>
</dict>
</plist>